.cart-icon{
    width: 2rem;
    height: 2rem;
    fill: white;
}
.cart-icon:hover{
    fill: black;
    transition: 0.5s;
}
.icon-navbar{
    color: white;
    border-radius: 5px;
}
.icon-navbar:hover{
    background-color: white;
    transition: 0.5s;
}



